.dashboard-container.md-layout.bg-team
  .grid-team.flex
    md-grid-list(md-cols-gt-md="4", md-cols-md="2", md-cols-sm="1",
      md-row-height-gt-md="3.2:2", md-row-height="4:2", md-gutter="8px", md-gutter-gt-sm="4px")
      md-grid-tile(ng-repeat="team in vm.user.teams", ng-click="vm.tranTeamHome($index)",
        class="{{vm.colors[$index % vm.colors.length]}}",
        ng-mouseenter="hover=true"
        ng-mouseleave="hover=false"
        ng-class="{shake: hover}")
        md-button
          i.material-icons group
          md-grid-tile-footer
            h3 {{ team.name }}
      md-grid-tile.teal(ng-click="vm.tranAddTeam()", ng-animate-ref="addTeam", 
        ng-mouseenter="vm.hover=true"
        ng-mouseleave="vm.hover=false"
        ng-class="{shake: vm.hover}")
        md-button
          i.material-icons group_add
          md-grid-tile-footer
            h3 新しいチームを追加
